.title h3{
    color: var(--text-color);
    font-family: "Josefin Sans", sans-serif;
}
.title h3::after{
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 280px;
    height: 2px;
    transition: 0.5s;
    background-image: linear-gradient(to right,#fe3f97,#fd946a);
}
@media (max-width:365px) {
    .title h3{font-size: 22px;}
}
@media (max-width:345px) {
    .title h3{font-size: 20px;}
}