.card-content{
  background-color: var(--text-color);
  height: 415px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.card-content:hover{
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transform: translateY(-10px);
}
.card-content .overlay{
    width: 100%;
    height: 0;
    top:0;
    left:0;
    background-color: #000000a6;
    border-radius: 10px;
    transition: 0.5s;
    backdrop-filter: blur(6px);
    overflow: hidden;
}
.card-content .card-image{
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rebeccapurple;
}
.card-content .card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    object-fit: cover;
}
.card-content .card-image:hover img{
    transform: scale(1.1);
    cursor: pointer;
}
.card-content .card-desc p{line-height: 1;color: var(--bg-color);}
.card-content .heart-icon{
    font-size: 22px;
    transition: 0.5s;
    margin-top: 5px;
    color: var(--bg-color);
}
.card-content .btn{
    background-image: linear-gradient(to right,#fe3f97,#fd946a) !important;
    border: 0 !important;
    transition: 0.5s;
    height: 45px;
}
.card-content .btn:hover{
    background-image: linear-gradient(to left,#fe3f97,#fd946a) !important;
}
.card-content .heart-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#back{
    width: 150px;
}
@media (max-width:992px) {
    .card-content{margin-top: 10px;}
}
@media (max-width:767.5px) {
    .card-content{
        width: 100%;
        height: 560px;
        margin:30px auto;
    }
    .card-content .card-image{height: 390px;}
}